<div id="componentBackground">
  <div id="smallWrapper">
    <h1>Todo list</h1>



    <p>A place to store the things you have to do!</p>
   <p>In total, there are <b>{{todos.length}}</b> items to do. </p>
    <a href="javascript:void(0)" (click)="filterCompleted()" id="filter">Filter Out your completed todos</a> <!-- goes to the archive handler in Angular-->
    {{remain()}}

    <ul>
      <li *ngFor = "let t of todos;let i = index" class="todoItem"  > <!--  repeats for EACH todo items. the word "index" is a special keyword, that is being saved into the variable "i" this will be used for the delete function.-->
        {{i+1}} <!-- this outputs the number of the list item-->

        <label id="complete" >
          Complete
          <input type="checkbox" [(ngModel)] = "t.done" >

        </label> <!-- " [(ngModel)] " is for data binding. Passes data from the .html to the .ts file... "t.done" refers to the checkbox-->

        <input type="text"  [(ngModel)] = "t.name" [class.lineThrough]="t.done"> <!-- the lineThrough class is triggered whenever one of the tasks is marked as-->
        <span class (click)="del(i)">X </span> <!-- click handler runs the delete function. it deletes the index, (i)-->
      </li>
    </ul>
    <hr>
    <form action = "" (submit)= add()> <!-- the "add" function is put onto the form's submit button-->
    <input type="text" name="newTodo" id="newTodo" placeholder="Add Your Todo" [(ngModel)]="newTodo">
    <br>
    <button id="addButton">
      add
      <!-- <i class="fa fa-plus"></i> -->
    </button>



    </form>
  </div> <!--close small wrapper div-->
</div> <!--close background div-->
